@page "/planetlist"
@using PlanetDemoWithApi.Client.Services;
@using PlanetDemoWithApi.Shared
@inject PlanetService PlanetService
@inject NavigationManager NavigationManager

<PageTitle>Planets of the Solar System</PageTitle>

<h1>Planets of the Solar System</h1>

@if (planets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach(var planet in planets)
    {
        <PartialPlanet Planet="planet"/>
    }
}

@code {
    private List<Planet>? planets;

    protected override async Task OnInitializedAsync()
    {
        planets = await PlanetService.GetPlanetsAsync(new Uri(NavigationManager.BaseUri));
        planets = planets.OrderBy(p => p.DistanceFromSun).ToList();
    }

}
